version: '3.8'
services:
  eureka-server:
    build: ./Lab3microservicioEureka
    image: eureka #nombre de la imagen que hemos creado
    restart: always
    container_name: eureka
    ports:
    - '8761:8761'
    networks:
    - 'dockernetflix-network'
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  spring-cloud-gateway-service:
    build: ./Lab3microservicioGateway
    image: spring-cloud-gateway #nombre de la imagen que hemos creado
    restart: always
    container_name: spring-cloud-gateway
    ports:
    - '7000:7000'
    networks:
      - 'dockernetflix-network'
    depends_on:
      eureka-server:
        condition: service_healthy

  greeting-microservice:
    build: ./Lab3microservicio
    image: greet-microservice #nombre de la imagen que hemos creado
    restart: always
    container_name: greet-microservice
    networks:
      - 'dockernetflix-network'
    depends_on:
      eureka-server:
        condition: service_healthy

networks:
  dockernetflix-network: